#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 
#
#                              MACROS
#
#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 

#####    All lines that needs a double check are marked with `#!#`    #####
#####    Use the search function to find them easily

#=====================================================
# START PRINT
#=====================================================
[gcode_macro START_PRINT]
gcode:
    {% set T_BED = params.T_BED|default(60) %}
    {% set T_EXTRUDER = params.T_EXTRUDER|default(210) %}
    # Use absolute coordinates
    G92
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature > params.T_BED|float*0.85 %}
        M140 S{T_BED}
        M109 S{T_EXTRUDER} 
        M190 S{T_BED}
    {% else %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue
        M140 S{T_BED} 
        M109 S{T_EXTRUDER}
        M190 S{T_BED}
    {% endif %}

    #BUILD MESH
    G28
    BED_MESH_CALIBRATE 
    BED_MESH_PROFILE save=default
    BED_MESH_PROFILE LOAD=default 

    # Prime line
    PRIME_LINE

[gcode_macro START_PRINT_CUSTOMIZED]
gcode:
    {% set NOZZLE_CLEANING = params.NOZZLE_CLEANING|default("Manual") %}
    {% set T_BED = params.T_BED|default(60) %}
    {% set T_EXTRUDER = params.T_EXTRUDER|default(210) %}
    ; Set coordinate modes
    G90 ; use absolute coordinates
    M83 ; extruder relative mode
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature > params.T_BED|float*0.85 %}
        M140 S{T_BED}
        M109 S{T_EXTRUDER} 
        M190 S{T_BED}
    {% else %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue
        M140 S{T_BED} 
        M109 S{T_EXTRUDER}
        M190 S{T_BED}
    {% endif %}

    #BUILD MESH
    G28
    BED_MESH_CALIBRATE 
    BED_MESH_PROFILE save=default
    BED_MESH_PROFILE LOAD=default 

    # Prime line
    PRIME_LINE

[gcode_macro CLEAN_NOZZLE_SEQUENCE]
gcode:
  
#=====================================================
# END PRINT
#=====================================================
[gcode_macro END_PRINT]
gcode:
    G90
    G1 X110 Y110 F3000 ## Prefered position for your toolhead after the print is finished
    G1 Z200 F3000 ## Set Zxx to lowest point of your Z movement.
    G1 E-20 F5000 ## extra long retraction to prevent oozing
    M104 S0 ## turn off hotend
    M140 S0 ## turn off bed
    M204
    M106 S0 ## turn off fans
    M84 ## disable motors
   BED_MESH_CLEAR

#=====================================================
# PRIME LINE
#=====================================================
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G90
    G92 E0
    G1 Z2.0 F3000
    G1 X0.1 Y2.0 Z0.28 F5000.0
    G1 X0.1 Y50.0 Z0.28 F1000.0 E25
    G1 X0.4 Y2.0 Z0.28 F5000.0
    G1 X0.4 Y50.0 Z0.28 F1000.0 E30
    G92 E0
    G1 Z2.0 F3000

#=====================================================
# PARK PRINTER
#=====================================================
# Park toolhead
[gcode_macro M125]
gcode:
    SAVE_GCODE_STATE NAME=parking
    M117 Parking toolhead
    G91
    G1 Z10 F600
    G90
    G1 X10 Y60 F4000 
    RESTORE_GCODE_STATE NAME=parking

#=====================================================
# BED MESH : Use with Probe
#=====================================================
[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 Z10 F6000
    BED_MESH_PROFILE save=default

#=====================================================
# PROBE CALIBRATE : Use with Probe
#=====================================================
[gcode_macro Z_PROBE_CALIBRATE]
description: Calibrate Probe Z-Offset
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    PROBE_CALIBRATE

#======================================================
# LOAD FILAMENT 
#======================================================
## added parameter allows you to skip heating the extruder, only do this if you know what you are doing :)
## keeping gcode version as default
[gcode_macro M701]
gcode:
  Load_Filament

[gcode_macro Load_Filament]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    {% set loadTemp = params.LOAD_TEMP|default("Hot") %}
    _report_status msg="Loading Filament {loadTemp}"
    M83
    G91
    ## probably a better way to do this, but i want to make sure that only entering the text 'cold' will make cold load happen
    {% if loadTemp|lower == 'cold' %}
    {% else %}
		LOW_TEMP_CHECK
	{% endif %}
    G1 E535 F1500 ## Adjust to the point that the filament just hits the hotend
    {% if loadTemp|lower == 'cold' %}
        G1 E40 F300 ## Slower extrusion to move filament trough hotend
    {% else %}
    	G1 E70 F300 ## Slower extrusion to move filament trough hotend
        G1 E-5 F400 ## Small retraction to prevent oozing
	{% endif %}
    G90
    RESTORE_GCODE_STATE NAME=loading_filament

#======================================================
# UNLOAD FILAMENT 
#======================================================
## added parameter allows you to skip heating the extruder, only do this if you know what you are doing :)
## keeping gcode version as default
[gcode_macro M702]
gcode:
    Unload_Filament

[gcode_macro Unload_Filament]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    {% set loadTemp = params.LOAD_TEMP|default("Hot") %}
    _report_status msg="Unloading Filament {loadTemp}"
    ## probably a better way to do this, but i want to make sure that only entering the text 'cold' will make cold load happen
    {% if loadTemp|lower == 'cold' %}
    {% else %}
		LOW_TEMP_CHECK
	{% endif %}
    G91 
    {% if loadTemp|lower == 'cold' %}
    {% else %}
		G1 E10 F600 ## Small extrude to make sure the filament is loose in the hotend
	{% endif %}
    G1 E-600 F1500 ## length to retract filament out
    G90
    RESTORE_GCODE_STATE NAME=unloading_filament

#=====================================================
# BUILD THE BED MESH : Use with Probe
#=====================================================
[gcode_macro ABL_MESH]
description: Run Mesh Leveling
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    BED_MESH_CALIBRATE
    G0 Z10 F6000
    BED_MESH_PROFILE SAVE=default

#=====================================================
# Manual Bed Level : Use with Probe
#=====================================================
[gcode_macro LEVEL_BED]
description: run manual bed leveling
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
  # BED_SCREWS_ADJUST
  SCREWS_TILT_CALCULATE

#=====================================================
# PID Hotend
#=====================================================
[gcode_macro PID_HOTEND]
description: Calibrate PID Hotend
gcode:
    M106 S255
    PID_CALIBRATE HEATER=extruder TARGET=260

#=====================================================
# PID Hotbed
#=====================================================
[gcode_macro PID_HOTBED]
description: Calibrate PID Hotbed
gcode:
    M106 S255
    PID_CALIBRATE HEATER=heater_bed TARGET=60

#=====================================================
# Input Shaper
#=====================================================
[gcode_macro SHAPE]
description:Input Shaper
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    status_calibrating_z
    SHAPER_CALIBRATE
    status_ready

#=====================================================
# LED Status Macros list
#=====================================================
# [gcode_macro set_logo_leds_off]
# [gcode_macro set_logo_leds_on]
# [gcode_macro set_nozzle_leds_on]
# [gcode_macro set_nozzle_leds_off]
# [gcode_macro status_off]
# [gcode_macro status_ready]
# [gcode_macro status_part_ready]
# [gcode_macro status_busy]
# [gcode_macro status_heating]
# [gcode_macro status_cooling]
# [gcode_macro status_leveling]
# [gcode_macro status_homing]
# [gcode_macro status_cleaning]
# [gcode_macro status_meshing]
# [gcode_macro status_calibrating_z]
# [gcode_macro status_printing]

#=====================================================
# Report Status
#=====================================================
[gcode_macro _report_status] 
description: used to sent both klipper screen alert and mainsail status update
gcode:
  {% set message = params.MSG %}
  #{ action_respond_info(message) }
  RESPOND MSG="{message}"
  M117 { message }
#=====================================================
# Debug
#=====================================================
[gcode_macro _PrinterDebug]
gcode:
    {% set message  = params.MSG %}
    {% set debug = printer["gcode_macro _User_Variables"].debug|default(False) %}

    {% if debug %}
        { action_respond_info(message) }
    {% endif %}